<% if user_signed_in? %>

<% else %>

<div class="center hero-unit">
    <h1>Welcome to the Life of a Rails Dev</h1>

    <h2>
      If you are a ruby on rails developer, upload a picture of your amazing life
    </h2>

    <%= link_to "Sign up now!", new_user_registration_path, 
                                class: "btn btn-large btn-primary" %>
</div>
<% end %>